
.container-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    min-height: 30vw; 
    max-height: 70vw;
    min-width: 15vw; 
    max-width: 20vw;
    background-color: var(--pink1);
}

/* custom image container */
.image-container-1 img{
    background: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 5px;
}

.container-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 30vw; 
    max-height: 70vw;
    min-width: 40vw; 
    max-width: 55vw;
    border-radius: 10px;
    background-color: var(--pink0);
}

/* format p tag */
.container-right p {
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    word-wrap: break-word; /* Ensures long words break if needed */
}
