/* simple content centering and column flex */
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

/* display image styling */
.image-container img{
    background: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 5px;
    margin-bottom: 10px;
}

