body {
  background-color: white;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-layout {
  display: flex;
  min-width: 55vw; 
  max-width: 95vw; 
  min-height: 40vh;
  max-height: 90vh;
  background: var(--pink1); 
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  gap: 20px;
  font-family: 'Coiny', cursive; 
  color: var(--pink3);
  
  .btn-primary{
    background-color: var(--pink2) !important;
    border-color: var(--pink2) ;
        
  }
  .btn-primary:hover{
    background-color: var(--pink3);
    border-color: var(--pink3);
    color: var(--pink0);
  }

  .btn-secondary{
    background-color: var(--pink1) !important;
    border-color: var(--pink1) ;    
  }
  .btn-secondary:hover{
    background-color: var(--pink2);
    border-color: var(--pink2) ;
    color: var(--pink0);
  }
  
  .btn-light{
    background-color: var(--pink1) !important;
    border-color: var(--pink1) ;    
    color: white;
  }
  .btn-light:hover{
    background-color: var(--pink2);
    border-color: var(--pink2) ;
    color: var(--pink3);
  }  
}

.container-layout h1, .container-layout h2, .container-layout h3, .container-layout h4, .container-layout h5, .container-layout h6 {
  font-family: 'Coiny', cursive; 
  color: var(--pink3); 
}

.sidebar-layout {
  width: 200px; /* Set the width for the sidebar */
  height: auto;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.content-layout {
  min-width: 50vw; 
  max-width: 90vw;
  height: auto; 
  background-color: #facef0;
  border-radius: 15px;
}
