/* General container styles */
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--pink1); 
  padding-right: 15px;
  max-width: 80vw;
  max-height: 75vh;

  overflow-y: auto; /*make the whole content schrollable*/

  text-align: center;

  /*tasks and group availables next to each other*/
  .dashboardTop{
    display: flex;
    flex-direction: row;
    gap: 15px;
    max-width: 100%;
    margin-top: 20px;

    .dashboardTasks{
      border-radius: 10px;
      background-color: var(--backgroundWhite);
      display: flex;
      flex-direction: column;
      align-items: center;

      max-width: 45%;

      max-height: 40vh;
      overflow-y: auto;
      

    }

    .dashboardAvailabilities{
      
      justify-content: center;
      align-items: center;


      border-radius: 10px;
      background-color: var(--backgroundWhite);
      display: flex;
      flex-direction: column;

      max-width: 55%;

      max-height: 40vh;
      overflow-y: auto;

      word-wrap: break-word;
      word-break: break-word; 
      overflow-wrap:break-word; 
    }

  }

  .dashboardBottom{
    
    display:flex;
    flex-direction: row;
    margin-top: 15px;
    gap: 15px;
    max-width: 100%;

    .dashboardLatestMessages{
      border-radius: 10px;
      background-color: var(--backgroundWhite);

      display: flex;
      flex-direction: column;
      border-radius: 10px;
      
      width: 55%;

      max-height: 40vh;
      overflow-y: auto;
      gap: 4px;
      align-items: center;
      

      .dashboardMessage{
        width:90%;
        max-width: 90%;
        word-wrap: break-word;
        word-break: break-word; 
        overflow-wrap: break-word; 
        background-color: var(--backgroundGrey);
        border-radius: 10px;
      }

    }

    .dashboardLeaderboard{
      border-radius: 10px;
      background-color: var(--backgroundWhite);
      display: flex;
      flex-direction: column;
      width: 45%;
      max-width: 45%;
      max-height: 40vh;
      overflow-y: auto;

      align-items: center;

      
    }
  }


}
