/* General container styles */
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--pink1); 
  padding: 20px;
  max-width: 80vw;
  max-height: 75vh;

  overflow-y: auto; /*make the whole content schrollable*/

  /*tasks and group availables next to each other*/
  .dashboardTop{
    display: flex;
    flex-direction: row;
    gap: 3px;
    max-width: 100%;



    .dashboardTasks{
      border-radius: 5px;
      background-color: var(--backgroundWhite);
      display: flex;
      flex-direction: column;
      align-items: center;

      max-height: 40vh;
      overflow-y: auto;
      

    }

    .dashboardAvailabilities{
      align-items: center;
      border-radius: 5px;
      background-color: var(--backgroundWhite);
      display: flex;
      flex-direction: column;

      max-height: 40vh;
      overflow-y: auto;
    }

  }

  .dashboardBottom{
    
    display:flex;
    flex-direction: row;
    margin-top: 3px;
    gap: 3px;


    .dashboardLatestMessages{
      border-radius: 5px;
      background-color: var(--backgroundWhite);

      display: flex;
      flex-direction: column;
      border-radius: 5px;
      
      width: 55%;

      max-height: 40vh;
      overflow-y: auto;
      gap: 4px;
      align-items: center;

      .dashboardMessage{
        width:90%;
        max-width: 90%;
        word-wrap: break-word;
        word-break: break-word; 
        overflow-wrap: break-word; 
        background-color: var(--backgroundGrey);
        border-radius: 5px;

      }

    }

    .dashboardLeaderboard{
      border-radius: 5px;
      background-color: var(--backgroundWhite);
      display: flex;
      flex-direction: column;
      max-width: 45%;
      max-height: 40vh;
      overflow-y: auto;

      align-items: center;
    }
  }


}
