
/*defining all the colours we use*/
:root {
  --background:#FACEF0;

  --buttons: #F59BE7;

  --buttonsHover:#da8bce;

  --ownMessages:#f1ace8;

  --inputs:#f5f5f5;

  --banner:#faced0;


  --mainText:#0a0909;

}


body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  /*commented out add for each own page you want makes it so not everything starts in the center
  align-items: center;
  */
  height: 100vh;
}

.box {
  border: 1px solid #dfdfdf;
  background-color: #fff;
}

.p-4 {
  max-height: 100vh; /* Set maximum height to the viewport height */
  overflow-y: auto;  /* Allow vertical scrolling */
  padding: 20px;     /* Ensure the content inside has space */
  box-sizing: border-box; /* Include padding in the element’s height */
}

.profile-form-container {
  max-width: 400px;
  margin: 0 auto;
}

/* .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #f8f9fa;
  padding-top: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
} */

