
/*defining all the colours we use*/
:root {
  --background:#FACEF0;
  --pink1: #FACEF0; /* light pink - background */

  --pink0: #FDE7F8; /* half light pink */

  --pink15: #f8b4ec;

  --backgroundGrey:#f7f8faf6;

  --backgroundWhite: white;

  --buttons: #F59BE7;
  --pink2: #F59BE7; /* medium pink - buttons, text on white? */

  --buttonsHover:#da8bce;

  --ownMessages:#f1ace8;

  --messageOther: #f1f1f1;

  --inputs:#f5f5f5;

  --banner:#faced0;

  --darktext: #E085D4;
  --pink3: #E085D4; /* dark pink - header, text on light pink  */

  --mainText: #0a0009;



}


body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

img{
  margin: 5px;
  border: none;
}


/* white box for content, smaller version */
.container-white-1 { 
  display: flex;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 30vw; 
  max-width: 45vw;
  min-height: 10vh;
  max-height: 80vh; 
  color: var(--pink2)
}

/* white box for content, larger version */
.container-white-2 { 
  display: flex;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 30vw; 
  max-width: 90vw;
  min-height: 10vh;
  max-height: 80vh; 
  gap: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  color: var(--pink2)
}

.container-center-content {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  min-height: 10vh;
  max-height: 80vh;
}

/* can be used for buttons or other div tags */
.container-center-button {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  padding: 20px; 
}

.container-center-button .btn {
  padding: 10px 20px; 
  font-size: 16px; 
}

.container-display-horizontal {
  display: flex;
  min-width: 45vw; 
  max-width: 70vw; 
  min-height: 40vh;
  max-height: 90vh;; 
  background: var(--pink1); 
  
}

.logo-display {
  display: flex;
  justify-content: center;
}

.logo-display img{
  background: white;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  /* transform: translate(0px,0px); */
}

.box {
  border: 1px solid #dfdfdf;
  background-color: #fff;
}

.p-4 {
  max-height: 100vh; 
  overflow-y: auto;  
  padding: 20px;     
  box-sizing: border-box; 
}

.btn-primary{
  background-color: var(--pink2) !important;
  border-color: var(--pink2) ;
      
}
.btn-primary:hover{
  background-color: var(--buttonsHover);
  border-color: var(--buttonsHover) ;
}

.btn-secondary{
  background-color: var(--pink1) !important;
  border-color: var(--pink1) ;    
}
.btn-secondary:hover{
  background-color: var(--pink2);
  border-color: var(--pink2) ;
}

.btn-light{
  background-color: var(--pink1) !important;
  border-color: var(--pink1) ;    
  color: white;
}
.btn-light:hover{
  background-color: var(--pink2);
  border-color: var(--pink2) ;
}

.modal {
  font-family: 'Coiny', cursive; 
  color: var(--pink3);

  .btn-primary{
    background-color: var(--pink2) !important;
    border-color: var(--pink2) ;
        
  }
  .btn-primary:hover{
    background-color: var(--buttonsHover);
    border-color: var(--buttonsHover) ;
  }

  .btn-secondary{
    background-color: var(--pink3) !important;
    border-color: var(--pink3) ;
        
  }
  .btn-secondary:hover{
    background-color: var(--buttonsHover);
    border-color: var(--buttonsHover) ;
  }
}

.modal-dialog {
  max-height: 90vh; 
  margin: auto;
}



.modal-header {
  background-color: var(--pink0);
}

.modal-body {
  max-height: 70vh;
  justify-content: center; 
  overflow-y: auto; 
  padding: 20px; 
  background-color: var(--pink1);
}

.modal-footer {
  background-color: #FDE7F8;
}
