
/*defining all the colours we use*/
:root {
  --background:#FACEF0;

  --backgroundGrey:#f7f8faf6;

  --backgroundWhite: white;

  --buttons: #F59BE7;

  --buttonsHover:#da8bce;

  --ownMessages:#f1ace8;

  --messageOther: #f1f1f1;

  --inputs:#f5f5f5;

  --banner:#faced0;

  --darktext: #E085D4;

  --mainText: #0a0009;



}


body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: 'Coiny', cursive; 
  color: var(--buttons);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Coiny', cursive; 
  color: var(--darktext); 
}

/* white box for content, smaller version */
.container-white-1 { 
  display: flex;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 30vw; /* Adjust width as needed */
  max-width: 45vw;
  min-height: 10vh;
  max-height: 80vh; /*maximum height */
  color: var(--buttons)
}

/* white box for content, larger version */
.container-white-2 { 
  display: flex;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 30vw; /* Adjust width as needed */
  max-width: 90vw;
  min-height: 10vh;
  max-height: 80vh; /*maximum height */
  color: var(--buttons)
}

/* can be used for buttons or other div tags */
.container-center-content {
  display: flex;
  justify-content: center; /* Centers the buttons horizontally */
  align-items: center; /* Centers the buttons vertically (if height is set) */
  gap: 10px; /* Space between the buttons */
  padding: 20px; /* Padding around the entire div */
}

.container-center-content .btn {
  padding: 10px 20px; /* Adds padding inside the buttons */
  font-size: 16px; /* Adjusts button text size */
}

.container-display-horizontal {
  display: flex;
  min-width: 45vw; /* Adjust width as needed */
  max-width: 70vw; /* Optional max-width */
  min-height: 40vh;
  max-height: 90vh;; /* Adjust height as needed */
  background: var(--background); /* Background for the container */
  
}


.box {
  border: 1px solid #dfdfdf;
  background-color: #fff;
}

.p-4 {
  max-height: 100vh; /* Set maximum height to the viewport height */
  overflow-y: auto;  /* Allow vertical scrolling */
  padding: 20px;     /* Ensure the content inside has space */
  box-sizing: border-box; /* Include padding in the element’s height */
}

.profile-form-container {
  max-width: 400px;
  margin: 0 auto;
}


